#/vendor
#/node_modules
.env
/storage/*.key

/public/plugins
/public/uploads
/public/ueditor
/public/semantic/

/resources/assets/bower
/database/migrations/tmp
.DS_Store
.idea
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
