@font-face {
    font-family: 'HelveticaNeue-CondensedBold';
    font-style: normal;
    font-weight: normal;
    src: local('HelveticaNeue-CondensedBold'), url('http://keye.local.com/fonts/HelveticaNeue-CondensedBold.ttf') format('truetype');
}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ol,ul,form, pre,th,td,input,textarea,select{
    margin:0;padding:0;
    font-weight:lighter;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
img{
    border:none;
}
input {-webkit-appearance:none; /*去除input默认样式*/}

.flo_l{
    float: left;
}
.flo_r{
    float: right;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.select{
    position: fixed;
    width: 15rem;
    max-height: 4rem;
    background: black;
    color: white;
    left: 0px;
    bottom: -20rem;
    display: none;
    padding: 0.45rem 0;
}
.select li{
    text-align: center;
    line-height: 0.8rem;
    padding:0.1rem 0;
}
.sel-left{
    background:url(../img/left.png) 12.4rem 0.8rem no-repeat;
}
.submit{
    width: 15rem;
    border: none;
    line-height: 2.4rem;
    color:#976b00;
    background: #f7b000;
    font-size: 0.6rem;
    position:absolute ;
    left: 0px;
    bottom: 0px;;
}
.Agreement{
    text-align: right;
    font-size: 0px;
    line-height: 1.6rem;
    padding: 0.5rem 0;
}
.Radiobox{
    display: inline-block;
}
.Agreement i{
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius:50%;
    vertical-align: -0.08rem;
    border:0.04rem solid #f5a623;

}
.Agreement .Radio{
    margin-right: 0.4rem;

    vertical-align: -0.14rem;
    background: url(../img/yes.png) no-repeat -0.04rem;

}
.Agreement span{
    font-size: 0.6rem;
    color: white;
}
.Agreement  a{
    font-size: 0.6rem;
    color: #f5a623;
}

/*弹出框css*/
.aleat{
    width: 13rem;
    margin: 0 1rem;
    min-height: 5rem;
    background: rgba(255, 230, 171, 0.78);
    position: fixed;
    left: 0px;
    top: 0px;
    border-radius: 0.6rem;
    display: none;
    padding: 1rem 0rem;
    text-align: center;
    max-height: 80vh;
    overflow: auto;
}
.closeX{
    position: absolute;
    right: 0.4rem;
    top: 0rem;
    font-style: inherit;
    font-size: 1.3rem;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg); 	/* Opera */
}
/**/
@charset "utf-8";*{margin:0;padding:0}html{height:100%}body{height:100%;background:url(../images/shouye_nvsheng_bg.png);background-size:100% 100%}#header img{width:100%}.swiper-container{width:100%;-webkit-perspective:1200px;-moz-perspective:1200px;-ms-perspective:1200px;perspective:1200px}.swiper-wrapper{margin-top:10px}.swiper-slide{width:80%;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-slide .main-img{width:80%;margin:0 auto;display:block}#pagination{position:absolute;bottom:100px;width:100%}#pagination .swiper-pagination-bullet{width:9.5%;float:left;margin:0 0 0 6.15%;background:0;opacity:1}.swiper-pagination-bullet i{background:#41203f;width:24px;height:24px;line-height:24px;font-size:12px;border-radius:50px;display:block;font-style:normal;text-align:center;margin:0 auto;color:#f5b55c}.swiper-pagination-bullet-active i{-webkit-transform:scale(1.5);background:url(../images/shouye_nvsheng_huangseb.png) no-repeat center 50%;background-size:auto 100%;color:#815d4b}@media screen and (min-height:481px){.swiper-wrapper{margin-top:20px}#pagination{bottom:110px}}@media screen and (min-height:569px){.swiper-wrapper{margin-top:40px}#pagination{bottom:120px}.swiper-pagination-bullet i{width:30px;height:30px;line-height:30px;font-size:15px}}#footer{position:absolute;bottom:0}#footer img{width:100%;display:block}
.homepage{
    width: 15rem;
    font-size: 0.75rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    background: url(../img/bg_img.png);
    background-size:cover ;
}
.homepage h2{
    width: 13.42rem;
    margin: 0 auto;
    border-bottom: 0.04rem solid rgba(255,255,255,0.2);
    font-size: 0.6rem;
    color: white;
    text-align: center;
    padding: 0.78rem 0rem;
    font-weight: normal;
}
.homepage header{
    position: relative;
}
.user-icon{
    position: absolute;
    width: 0.8rem;
    height: 0.84rem;
    background: url('../img/user.png') no-repeat;
    background-size: cover;
    right: 0.8rem;
    top: 0.8rem;
}
.homepage .user-list{
    padding: 0.78rem 0rem;
    font-size: 0px;
}
.homepage .user-list li{
    width:3.24rem;
    height:4.96rem;
    display: inline-block;
    font-size: 0.4rem;
    color: white;
    padding:0px 0.88rem;
    text-align: center;
    position: relative;
}
.homepage .user-list li img{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}

/**/
.homepage .user-list .bor-color img{
    border: 0.1rem solid #f6d107;
}
.homepage .user-list .bor-color p{
    color:#f6d107;
}
/*加号的那个类*/
.add-bg{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.44);
    position: absolute;
    left: 1.3rem;
    line-height: 2.4rem;
    font-size: 1.3rem;

}
.homepage .user-list li p{
    padding-top: 0.5rem;
}
.homepage .user-list li span{
    color: #878177;
    font-size: 0.36rem;
}
/*.homepage header .swiper-button-next{*/
    /*float: left;*/
    /*width: 4rem;*/
    /*height: 4rem;*/
    /*background: url() rgba(0,0,0,0);*/
    /*opacity: .3;*/
    /*margin-right: 1rem;*/
    /*margin-top: -1.6rem;*/
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*}*/
/*.homepage header .swiper-button-prev{*/
    /*float: right;*/
    /*width: 4rem;*/
    /*height:4rem;*/
    /*background: url() rgba(0,0,0,0);*/
    /*margin-left: 1rem;*/
    /*margin-top: -1.6rem;*/
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*}*/
.homepage header .swiper-slide,.homepage header .swiper-slide img{
    width: 4rem;
    height: 4rem;
    border-radius:50%;
    overflow: hidden;
}
.homepage header .info{
    text-align: center;
    margin-top: 0.4rem;
    color: rgba(255,255,255);
}
.homepage header .info .name{
    font-family: "HelveticaNeue-CondensedBold";
    color: white;
    font-size: 1rem;
    text-indent: 0.6rem;

}
.homepage header .info .Wechat-number{
    font-size: 0.6rem;
    padding: 0.2rem 0.5rem;
    color: rgba(255,255,255,0.8);

}

.homepage header .info .Age-job span{
    padding: 0px 0.2rem;
    color: white;
    font-size: 0.6rem;
}
.homepage header .info .autograph{
    padding: 0.5rem 1rem 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.6rem;
    text-indent: -0.2rem;
}
.homepage header .info .autograph img{
    margin-right: 0.1rem;
}
/*=-===*/
.index .Welcome{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}
.index .Welcome .up{
    width: 100%;
    height: 100%;
    background: url(../img/up.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
}
.index .Welcome .down{
    width: 100%;
    height: 100%;
    background: url(../img/down.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0%;
}
.index .open-but{
    width: 5rem;
    height: 2rem;
    background: rgba(247, 176, 0, 0.82);
    position: fixed;
    font-size: 0.8rem;
    border: none;
    top: 70%;
    left: 5rem;
    color: white;
    border-radius: 0.3rem;
    outline: none;
}
/*----*/
.information {
    width: 13.6rem;
    height: 100vh;
    font-size: 0.75rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    background: url(../img/bg_img.png);
    background-size: cover;
    padding: 0px 0.7rem;
    text-align: center;
}
.information section .portrait{
    width: 3.6rem;
    height: 3.6rem;
    border-radius:2rem;
    border: 0.04rem solid rgba(255,255,255,0.5);
    padding: 0.2rem;
    margin-top: 2.01rem;
}
.information section .name{
    font-size: 0.8rem;
    color: white;
    margin-top: 0.6rem;
}
.information  .info{
    text-align: center;
    margin-top: 0.4rem;
    color: rgba(255,255,255);
}
.information  .info .name{
    font-family: "HelveticaNeue-CondensedBold";
    color: white;
    font-size: 1rem;
    text-indent: 0.6rem;

}
.information  .info .Wechat-number{
    font-size: 0.6rem;
    padding: 0.2rem 0.5rem;
    color: rgba(255,255,255,0.8);

}
/*溢出隐藏*/
.text-hidden{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.information  .info .Age-job span{
    padding: 0px 0.2rem;
    color: white;
    font-size: 0.6rem;
}
.information  .info .autograph{
    padding: 0.5rem 1rem ;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.6rem;
    text-indent: -0.2rem;
}
.information  .info .autograph img{
    margin-right: 0.1rem;
}
.information section .sign{
    font-size: 0.4rem;
    margin-top: 1.1rem;
    color: #c8b89d;
    margin-bottom: 2.4rem;
}
.information hr{
    border-bottom: 0.04rem solid rgba(255,255,255,0.2);
}
.information footer {
    padding-bottom: 0.5rem;
}
.information footer img{
    width: 100%;
    margin-top: 0.6rem;
    vertical-align: top;
}
.information footer p{
    font-size: 0.5rem;
    color: white;
    text-align: left;
}
.JoinKY {
    width: 13.8rem;
    font-size: 0.75rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    background: url(../img/bg_img.png);
    background-size: cover;
    padding: 0px 0.6rem;
    min-height: 100vh;

}
.JoinKY header{
    text-align: center;
}

.JoinKY header .portrait{
    width: 3.6rem;
    height: 3.6rem;
    border-radius:2rem;
    border: 0.04rem solid rgba(255,255,255,0.5);
    padding: 0.2rem;
    margin-top: 2.01rem;
}

.JoinKY header .sign{
    font-size: 0.4rem;
    margin-top: 0.8rem;
    color: #fff;
    margin-bottom: 2rem;
}
.JoinKY .form li{
    height: 2rem;
    border-bottom: 0.02rem solid rgba(255,255,255,0.5);
    padding-left: 0.5rem;
}
.JoinKY .form li .tit-s{
    font-size: 0.6rem;
    color: rgb(223,201,166);
    line-height: 2rem;
    margin-right: 0.5rem;
    width: 2rem;

}
.JoinKY .form li .Ainp{
    border: none;
    background: none;
    outline: none;
    font-size: 0.6rem;
    color: white;
    line-height: 2rem;
    width: 75%;
}
.JoinKY .form li .phone{
    border: none;
    background: none;
    outline: none;
    font-size: 0.6rem;
    color: white;
    line-height: 2rem;
    width: 56%;
}
.JoinKY .But{
    font-size: 0.6rem;
    color: #ad7a00;
}
.JoinKY .Vehicle-information{
    width: 15rem;
    min-height: 100vh;
    position: fixed;
    top: 0px;
    left:15rem;
    transition:500ms ;
    background: url(../img/bg_img.png);
}
.JoinKY .brandBox{
    width: 15rem;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0px;
    left:15rem;
    transition:500ms ;
    background: url(../img/bg_img.png);
}
.JoinKY .seriesBox{
    width: 15rem;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0px;
    left:15rem;
    transition:500ms ;
    background: url(../img/bg_img.png);
}
.JoinKY .motomodelBox{
    width: 15rem;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0px;
    left:15rem;
    transition:500ms ;
    background: url(../img/bg_img.png);
}
.JoinKY .dateBox{
    width: 15rem;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0px;
    left:15rem;
    transition:500ms ;
    background: url(../img/bg_img.png);
}
.JoinKY .search{
    width: 10rem;
    height: 1.5rem;
    border-radius:0.2rem 0 0 0.2rem;
    text-align: center;
    font-size: 0.6rem;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
}
.JoinKY .search-box{
    font-size: 0px;
    padding: 0px 1rem;
    margin-top: 0.5rem;
    display: block;
}
.JoinKY .search-but{
    width: 3rem;
    height: 1.5rem;
    border-radius: 0 0.2rem 0.2rem  0;
    text-align: center;
    font-size: 0.8rem;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    display: inline-block;
    vertical-align: top;
    line-height: 1.5rem;
}
.JoinKY .brandList{
    padding: 0px 1.4rem;
    color: white;
    font-size: 0.4rem;
}
.JoinKY .brandList section{
    padding-top: 0.6rem;
}
.JoinKY .brandList h2{
    border: none;
}
.JoinKY .brandList li{
    font-size:.6rem;
    color:rgba(223,201,166,1);
    line-height: 1.4rem;
    border-bottom: 0.02rem solid rgba(153,111,40,0.5);
}


@media (max-width:600px){
    .desktop {
        display: none;
    }
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
html::-webkit-scrollbar
{
    width: 16px;
    height: 16px;
    background-color: red;
}

/*定义滚动条轨道 内阴影+圆角*/
html::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: red;
}

/*定义滑块 内阴影+圆角*/
html::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: red;
}
/*---*/
.register {
    width: 13.8rem;
    font-size: 0.75rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    background: url(../img/bg_img.png);
    background-size: cover;
    padding: 0px 0.6rem;
    min-height: 100vh;

}
.register header{
    text-align: center;
}

.register header .portrait{
    width: 3.6rem;
    height: 3.6rem;
    border-radius:2rem;
    border: 0.04rem solid rgba(255,255,255,0.5);
    padding: 0.2rem;
    margin-top: 2.01rem;
}

.register header .sign{
    font-size: 0.6rem;
    margin-top: 0.8rem;
    color: #fff;
    margin-bottom: 1.5rem;
}
.register .form li{
    height: 2rem;
    border-bottom: 0.02rem solid rgba(255,255,255,0.5);
    font-size:0px ;
    padding-left: .3rem;
}
.register .form li .tit-s{
    font-size: 0.6rem;
    color: rgb(223,201,166);
    line-height: 2rem;
    margin-right: 0.5rem;
    width: 10%;

}

.register .form li .Ainp{
    border: none;
    background: none;
    outline: none;
    font-size: 0.6rem;
    color: white;
    padding: 0.7rem 0;
    width: 80%;
}
.register .form li .phone{
    border: none;
    background: none;
    outline: none;
    font-size: 0.6rem;
    color: white;
    line-height: 2rem;
    width: 60%;
}
.register .But{
    font-size: 0.6rem;
    color: #ad7a00;
}
.register .aleat-submit img{
    width: 4rem;
}
.register .aleat-submit p{
    line-height: 1.3rem;
}
.register .aleat-submit button{
    padding: 0.3rem 0.5rem;
    border: 0.02rem solid black;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
.register .aleat-submit button:nth-last-child(1){
    margin-left: 0.5rem;
    border-color: #f7b000;
    background: #f7b000;
}
.register .aleat-submit button:nth-last-child(2){
    border-color: #000;
    background: rgba(0,0,0,0);
}
.register .submit{
    width: 15rem;
    border: none;
    line-height: 2.4rem;
    color:#fff;
    background: #f7b000;
    font-size: 0.6rem;
    position:fixed ;
    left: 0px;
    bottom: 0px;;
}
