body {
	width: 13.6rem;
	font-size: 0.75rem;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	background: url(../img/bg_img.png);
	background-size: cover;
	padding: 0px 0.7rem;
	text-align: center;
}
section .portrait{
	width: 3.6rem;
	height: 3.6rem;
	border-radius:2rem;
	border: 0.04rem solid rgba(255,255,255,0.5);
	padding: 0.2rem;
	margin-top: 2.01rem;
}
section .name{
	font-size: 0.8rem;
	color: white;
	margin-top: 0.6rem;
}
section .info{
	font-size: 0px;
	
}
section .info div{
	display: inline-block;
	width: 33%;
	font-size: 0.52rem;
	color: white;
	margin-top: 0.6rem;
}
section .sign{
	font-size: 0.4rem;
	margin-top: 1.1rem;
	color: #c8b89d;
	margin-bottom: 2.4rem;
}
hr{
	border-bottom: 0.04rem solid rgba(255,255,255,0.2);
}
footer {
	padding-bottom: 0.5rem;
}
footer img{
	width: 100%;
	margin-top: 0.6rem;
	vertical-align: top;
}
footer p{
	font-size: 0.5rem;
	color: white;
	text-align: left;
}
