#captcha_label {
    height:2rem;
}
#captcha_label img {
    margin-top:.4rem;
}
.captcha {
    cursor:pointer;
}
#Agreement {margin-left:5px;}
.Agreement i {
    vertical-align: -0.14rem;
    margin-right:.4rem
}
.Radio {
    margin-right: 20px;
}
#register_form li.success {
    border-color:green;
}
#register_form li.error{
    border-bottom: 0.04rem solid red;
}
#timer {
    color:white;
    width:30%;
    font-size: 0.6rem;
    margin-top: 36px;
    display:none;
}
.timer {
    line-height: 2rem;
}
#mobile {width:45%;line-height: .7rem }

.timer_text {
    color:white;
    float:right;
    font-size: 0.6rem;
    line-height: 2rem;
}
.But{float:right;
    line-height:2rem;}
.radio_on {}
.radio_off {
    background: none;
    margin-right:20px;
}
#message {
    width:15rem;
    position: absolute;
    top:0px;
    left:0px;
}

#message .noty_close {
    top:20px;
    right:20px;
}
#reg_success, #reg_fail {
    display: none;
    top: 8rem;
}
#register_btn {color:#000}
.checkbox_err{border-color:red;}
.aleat-Agreement {
    display: none;
    top: 5%;
}
.join {
    position: absolute;
    width: 3.2rem;
    height: 0.84rem;
    right: 0.6rem;
    top: 0.8rem;
    font-size:0.6rem;
    color:#fff;
}
.return {
    position: absolute;
    width: 3.2rem;
    height: 0.84rem;
    left: 0.6rem;
    top: 0.8rem;
    font-size:0.6rem;
    color:#fff;
}
a,img,button,input,textarea,label,span,i,ul,li,div,p,a:visited{-webkit-tap-highlight-color:rgba(255,255,255,0);}
input,textarea{-webkit-appearance:none;}
a:focus{outline:none;}

#register_form li{
    border-bottom: 0.02rem solid rgba(140, 105, 47, 0.6);
}
#profile_form li{
    border-bottom: 0.02rem solid rgba(140, 105, 47, 0.6);
}
#expdriver_list img {height:2.4rem;width:2.4rem;margin-top:.8rem;}
#expdriver_list .swiper-slide-active {}
#expdriver_list .swiper-slide-active img{height:2.8rem;width:2.8rem;margin-top:.4rem;padding:2px;}
.homepage h2 {padding-top:1.2rem; padding-bottom:0.4rem}
#expdriver_list .swiper-left {margin-right:0px}
#expdriver_list .swiper-right {margin-left:0px}
#expdriver_list .swiper-slide {width:100%}
#expdriver_list .swiper-slide-active {width:100%}
#expdriver_list .swiper-slide-next img{margin-right:0px;}
#expdriver_list .swiper-slide-prev img{margin-left:0px;}
#profile_form li .Ainp{width:60%}
.JoinKY .info {
    text-align: center;
}
.JoinKY .info .name {
    font-family: "HelveticaNeue-CondensedBold";
    color: white;
    font-size: 1rem;
    text-indent: 0.6rem;
}
.JoinKY .info .Wechat-number {
    font-size: 0.6rem;
    padding: 0.2rem 0.5rem;
    color: rgba(255, 255, 255, 0.8);
}
.myselect{
    position: fixed;
    width: 14rem;
    color: white;
    top: 2rem;
    display: none;
    padding: 0.45rem .5rem;
}
.myselect li{
    font-size:.6rem;
    color: rgb(223,201,166);
    text-align: center;
    line-height: 0.8rem;
    padding:0.3rem 0;
    border-bottom: 0.02rem solid rgba(153, 111, 40, 0.6);
}
.brandList {margin-top:2.2rem}
.brandList li{
    font-size:.6rem;
}

.selectBox img, .Vehicle-information img{
    float:left;
    margin:1rem;
}
.selectBox .form, .Vehicle-information .form{
    margin-top:2.4rem;
    padding:.3rem 1rem;
}
.alphabetList {top:10%;font-size:.6rem;
    text-align: center;}
.headline {margin-top:4rem;font-size:1.6rem;margin-bottom:1rem;border-bottom: 0.02rem solid rgba(153, 111, 40, 0.6);}
.error-content {font-size:.6rem;}
.JoinKY  .info{
    text-align: center;
    margin-top: 0.4rem;
    color: rgba(255,255,255);
}
.JoinKY .info .name{
    font-family: "HelveticaNeue-CondensedBold";
    color: white;
    font-size: 1rem;
    text-indent: 0.6rem;
    margin-top:0.6rem;
}
.JoinKY  .info .Wechat-number{
    font-size: 0.6rem;
    padding: 0.2rem 0.5rem;
    color: rgba(255,255,255,0.8);
}
.JoinKY section .portrait{
    width: 3.6rem;
    height: 3.6rem;
    border-radius:2rem;
    border: 0.04rem solid rgba(255,255,255,0.5);
    padding: 0.2rem;
    margin-top: 2.01rem;
}
.JoinKY section .name{
    font-size: 0.8rem;
    color: white;
    margin-top: 0.6rem;
}
#vehicle-select-form .complete-btn {font-size:.6rem;border-bottom:none;line-height: 2rem}
#vehicle-select-form .complete-btn a {
    float: right;
    padding-right:.5rem;
    color:#ad7a00;
}
.memberRules {
    text-align: left;
    height: 80%;
    overflow: auto;
}
.memberRules .rule-content {

}
.sa-button-container {text-align:center;}
#profile_notice {
    margin-top:20px;
    font-size:.4rem;
    color:rgba(255,255,255,0.5);
}
#profile_notice ul {
    padding-top:10px;
}
#profile_notice li {
    border:none;
    height:.8rem;
}
#profile_notice .not-first {
    margin-left:16px;
}
#profile_notice img {
    float:left;
    padding:10px 10px 5px 5px;
}
.verified {
    font-size:.4rem;
    color:white;
    padding:5px;
    border: .02rem solid rgba(140, 105, 47, 0.6);
}
#profile_form .carinfo {
    background: url(../img/left.png) 13.2rem 0.8rem no-repeat;
}
#save_profile_btn {color:#000}
#profile_form .member_no_li .member_no_prefix{text-align:right;font-size:.6rem;color:white;}
#profile_form .member_no_li input{width:20%;}
#nest_info {
    padding:20px;
}
/* Prevents img without src to appear */
img:not([src]) {
    visibility: hidden;
}
/* Fixes Firefox anomaly */
@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}
