#captcha_label {
    height:2rem;
}
#captcha_label img {
    margin-top:.4rem;
}
.captcha {
    cursor:pointer;
}
#Agreement {margin-left:5px;}
.Agreement i {
    vertical-align: -0.14rem;
    margin-right:.4rem
}
.Radio {

}
#register_form li.success {
    border-bottom:0.04rem solid green;
}
#register_form li.error{
    border-bottom: 0.04rem solid red;
}
#timer {
    color:white;
    width:30%;
    font-size: 0.6rem;
    margin-top: 36px;
    display:none;
}
.timer {
    line-height: 2rem;
}
#mobile {width:45%;line-height: .7rem }

.timer_text {
    color:white;
    float:right;
    font-size: 0.6rem;
    line-height: 2rem;
}
.But{float:right;
    line-height:2rem;}
.radio_on {}
.radio_off {
    background: none;
    margin-right:20px;
}
#message {
    width:15rem;
    position: absolute;
    top:0px;
    left:0px;
}

#message .noty_close {
    top:20px;
    right:20px;
}
#reg_success, #reg_fail {
    display: none;
    top: 8rem;
}
#register_btn {color:#000}
.checkbox_err{border-color:red;}
.aleat-Agreement {
    display: none;
    top: 5%;
}
.join {
    position: absolute;
    width: 3.2rem;
    height: 0.84rem;
    right: 0.6rem;
    top: 0.8rem;
    font-size:0.6rem;
    color:#000;
}
.return {
    position: absolute;
    height: 0.84rem;
    left: 0.6rem;
    top: 0.8rem;
    font-size:0.6rem;
    color:#000;
}
a,img,button,input,textarea,label,span,i,ul,li,div,p,a:visited{-webkit-tap-highlight-color:rgba(255,255,255,0);}
input,textarea{-webkit-appearance:none;}
a:focus{outline:none;}

#register_form li{
    border-bottom: 0.02rem solid rgba(140, 105, 47, 0.6);
}
#profile_form li{
    border-bottom: 0.02rem solid rgba(140, 105, 47, 0.6);
}
#expdriver_list img {height:2.4rem;width:2.4rem;margin-top:.8rem;}
#expdriver_list .swiper-slide-active {}
#expdriver_list .swiper-slide-active img{height:2.8rem;width:2.8rem;margin-top:.4rem;padding:2px;}
.homepage h2 {padding-top:1.2rem; padding-bottom:0.4rem}
#expdriver_list .swiper-left {margin-right:0px}
#expdriver_list .swiper-right {margin-left:0px}
#expdriver_list .swiper-slide {width:100%}
#expdriver_list .swiper-slide-active {width:100%}
#expdriver_list .swiper-slide-next img{margin-right:0px;}
#expdriver_list .swiper-slide-prev img{margin-left:0px;}
#profile_form li .Ainp{width:60%}
.JoinKY .info {
    text-align: center;
}
.JoinKY .info .name {
    font-family: "HelveticaNeue-CondensedBold";
    color: white;
    font-size: 1rem;
    text-indent: 0.6rem;
}
.JoinKY .info .Wechat-number {
    font-size: 0.6rem;
    padding: 0.2rem 0.5rem;
    color: rgba(255, 255, 255, 0.8);
}
.myselect{
    position: fixed;
    width: 14rem;
    color: white;
    top: 2rem;
    display: none;
    padding: 0.45rem .5rem;
}
.myselect li{
    font-size:.6rem;
    color: rgb(223,201,166);
    text-align: center;
    line-height: 0.8rem;
    padding:0.3rem 0;
    border-bottom: 0.02rem solid rgba(153, 111, 40, 0.6);
}
.brandList {margin-top:2.2rem}
.brandList li{
    font-size:.6rem;
}

.selectBox img, .Vehicle-information img{
    float:left;
    margin:1rem;
}
.selectBox .form, .Vehicle-information .form{
    margin-top:2.4rem;
    padding:.3rem 1rem;
}
.alphabetList {top:10%;font-size:.6rem;
    text-align: center;}
.headline {margin-top:4rem;font-size:1.6rem;margin-bottom:1rem;border-bottom: 0.02rem solid rgba(153, 111, 40, 0.6);}
.error-content {font-size:.6rem;}
.JoinKY  .info{
    text-align: center;
    margin-top: 0.4rem;
    color: rgba(255,255,255);
}
.JoinKY .info .name{
    font-family: "HelveticaNeue-CondensedBold";
    color: white;
    font-size: 1rem;
    text-indent: 0.6rem;
    margin-top:0.6rem;
}
.JoinKY  .info .Wechat-number{
    font-size: 0.6rem;
    padding: 0.2rem 0.5rem;
    color: rgba(255,255,255,0.8);
}
.JoinKY section .portrait{
    width: 3.6rem;
    height: 3.6rem;
    border-radius:2rem;
    border: 0.04rem solid rgba(255,255,255,0.5);
    padding: 0.2rem;
    margin-top: 2.01rem;
}
.JoinKY section .name{
    font-size: 0.8rem;
    color: white;
    margin-top: 0.6rem;
}
#vehicle-select-form .complete-btn {
    font-size:.6rem;border-bottom:none;line-height: 2rem;
    margin-top:2rem;
    text-align: center;
}
#vehicle-select-form .complete-btn a {
    text-align: center;
    padding-right:.5rem;
    color:white;
}
.memberRules {
    text-align: left;
    height: 80%;
    overflow: auto;
}
.memberRules .rule-content {

}
.sa-button-container {text-align:center;}
#profile_notice {
    margin-top:20px;
    font-size:.5rem;
    color:rgba(255,255,255,0.5);
    height:4rem;
}
#profile_notice ul {
    padding-top:10px;
    height:3.6rem;
}
#profile_notice li {
    border:none;
    height:2rem;
}
#profile_notice .not-first {
    margin-left:15px;
    height:1.2rem;
}
#profile_notice img {
    float:left;
    padding:.3rem .2rem;
}
/*.verified {*/
    /*font-size:.4rem;*/
    /*color:white;*/
    /*padding:5px;*/
    /*border: .02rem solid rgba(140, 105, 47, 0.6);*/
    /*background-color: #c1b920;*/
/*}*/
#profile_form .carinfo {
    background: url(../img/left.png) 13.2rem 0.8rem no-repeat;
}
#save_profile_btn {color:#000}
#profile_form .member_no_li .member_no_prefix{text-align:right;font-size:.6rem;color:white;}
#profile_form .member_no_li input{width:20%;}
#nest_info {
    padding:20px;
}
/* Prevents img without src to appear */
img:not([src]) {
    visibility: hidden;
}
/* Fixes Firefox anomaly */
@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}
#quotation {
    width:100%;
}
.vehicle {
    font-size: .6rem;
    color:white;
}
.verified:after {
    content:"已认证";
    position:absolute;
    top:14rem;
    left:6rem;
    z-index:1;
    font-family:Arial,sans-serif;
    -webkit-transform: rotate(-25deg); /* Safari */
    -moz-transform: rotate(-25deg); /* Firefox */
    -ms-transform: rotate(-25deg); /* IE */
    -o-transform: rotate(-25deg); /* Opera */
    transform: rotate(-25deg);
    font-size:.6rem;
    color:#c00;
    background:#c1b920;
    border:solid 2px #c00;
    padding:5px;
    border-radius:5px;
    zoom:1;
    filter:alpha(opacity=20);
    opacity:0.2;
    -webkit-text-shadow: 0 0 2px #c00;
    text-shadow: 0 0 2px #c00;
    box-shadow: 0 0 2px #c00;
}
.static-text{
    font-size:.6rem;color:white;
}
#carno_notice {
    margin-top:.2rem;
    height:1.2rem;
    font-size:.5rem;
    color:rgba(255,255,255,0.5);
}
#carno_notice ul {
    padding-top:10px;
}
#carno_notice li {
    border:none;
    height:.8rem;
}
#carno_notice .not-first {
    margin-left:.8rem;
}
#carno_notice img {
    float:left;
    padding:.3rem .2rem;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: .6rem;
    color: white;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {

}
.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
    pointer-events: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
/* style 3 */

.inputfile + label {
    color: #f7b000;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    color: #f7b000;
}
.inputfile + label svg {
    width: .6rem;
    height: .6rem;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}
