body,h1,h2,h3,h4,h5,h6,p,dl,dd,ol,ul,form, pre,th,td,input,textarea,select{
	margin:0;padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:none;
}


.flo_l{
	float: left;
}
.flo_r{
	float: right;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;	
}
.select{
	position: fixed;
	width: 15rem;
	max-height: 4rem;
	background: black;
	color: white;
	left: 0px;
    bottom: -20rem;
    display: none;
    padding: 0.45rem 0;
}
.select li{
	text-align: center;
	line-height: 0.8rem;
	padding:0.1rem 0;
}
.sel-left{
	background:url(../img/left.png) 13rem 0.8rem no-repeat;
}
.submit{
	width: 15rem;
	border: none;
	line-height: 2.4rem;
	color:#976b00;
	background: #f7b000;
	font-size: 0.6rem;
	position:absolute ;
	left: 0px;
	bottom: 0px;;
}
.Agreement{
	text-align: right;
	font-size: 0px;
	line-height: 1.6rem;
	padding: 0.5rem 0;
}
.Radiobox{
	display: inline-block;
}
.Agreement i{
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	border-radius:50%;
	vertical-align: -0.15rem;
	border:0.04rem solid #f5a623;
	margin-right:20px;
	
}
.Agreement .Radio{
	background: url(../img/yes.png) no-repeat -0.04rem;
}
.Agreement span{
	font-size: 0.6rem;
	color: white;
}
.Agreement  a{
	font-size: 0.6rem;
	color: #f5a623;
    margin-left:5px;
}

/*弹出框css*/
.aleat{
	width: 13rem;
    margin: 0 1rem;
    min-height: 5rem;
    background: rgba(255, 230, 171, 0.78);
    position: fixed;
    left: 0px;
    top: 0px;
    border-radius: 0.6rem;
    display: none;
    padding: 1rem 0rem;
    text-align: center;
    max-height: 80vh;
    overflow: auto;
}
.closeX{
	position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    font-style: inherit;
    font-size: 0.6rem;
}
